# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
db.sqlite3
.env
.env*
# Node / React
node_modules/
dist/
dist-ssr/
*.local
.npm
.eslintcache

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

*envs/
/envs/*
/envs/development/backend.env
/envs/staging/backend.env
/envs/preprod/backend.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfstate.d/
Terraform/terraform-ssh-key.pem

